<div class="card">
  <div class="card-heading">
    <h2>Staging Timeline</h2>
  </div>
  <div class="card-body">
    <div class="">
      <div class="streamline b-l m-b">
        <div class="sl-item">
          <div class="sl-content">
            <div class="text-muted-dk">18 July, 21:00 AEST</div>
            <p>Deploy database</p>
          </div>
        </div>
        <div class="sl-item">
          <div class="sl-content">
            <div class="text-muted-dk">18 July, 20:00 AEST</div>
            <p>Servers back up</p>
          </div>
        </div>
        <div class="sl-item b-success">
          <div class="sl-content">
            <div class="text-muted-dk">18 July, 19:00 AEST</div>
            <p>Troubleshooting call with CTL</p>
          </div>
        </div>
        <div class="sl-item">
          <div class="sl-content">
            <div class="text-muted-dk">18 July, 18:00 AEST</div>
            <p>Staging servers unreachable. Case raised with CTL</p>
          </div>
        </div>
        <div class="sl-item">
          <div class="sl-content">
            <div class="text-muted-dk">18 July, 16:30 AEST</div>
            <p>Restart SX</p>
          </div>
        </div>
        <div class="sl-item b-info">
          <div class="sl-content">
            <div class="text-muted-dk">18 July, 16:00 AEST</div>
            <p>Deployed 3.4.126 to Staging</p>
          </div>
        </div>
        <div class="sl-item">
          <div class="sl-content">
            <div class="text-muted-dk">18 July, 15:00 AEST</div>
            <p>Build Code drop from <b>LAB49</b> v3.4.126</p>
          </div>
        </div>
        <div class="sl-item">
          <div class="sl-content">
            <div class="text-muted-dk">17 July</div>
            <p>Restart SX Core to update database</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
