  <div class="row row-xs">
    <div class="col-sm-4">
      <div class="panel panel-card p m-b-sm">
        <h5 class="no-margin m-b">Tasks</h5>
        <div class="text-center">
          <div class="inline">
            <div ui-jp="easyPieChart" ui-options="{
                percent: 25,
                lineWidth: 12,
                trackColor: '{{app.color.light}}',
                barColor: '{{app.color.success}}',
                scaleColor: '#fff',
                size: 167,
                lineCap: 'butt',
                color: '{{color}}',
                animate: 3000,
                rotate: 270
              }" ng-init="color = getColor(app.setting.theme.primary, 400)">
              <div class="font-bold text-warning">
                25%
              </div>
            </div>
          </div>
        </div>
        <div>
          <div><strong>5</strong> remainning</div>
          <small class="text-muted">Next task: 19:30 Thu</small>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card p m-b-sm">
        <h5 class="no-margin m-b">TODO</h5>
        <div class="text-center">
          <div class="inline">
            <div ui-jp="easyPieChart" ui-options="{
                percent: 50,
                lineWidth: 70,
                trackColor: '#fff',
                barColor: '{{app.color.info}}',
                scaleColor: '#fff',
                size: 167,
                lineCap: 'butt',
                rotate: 90,
                animate: 5000
              }">
              <div class="font-bold h3 text-accent">
                50%
              </div>
            </div>
          </div>
        </div>
        <div>
          <div><strong>10</strong> not finished</div>
          <small class="text-muted">10 task finished</small>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-card p m-b-sm">
        <h5 class="no-margin m-b">Summary of Environment Status</h5>
        <div class="text-center" ng-controller="ChartCtrl">
            <div ui-jp="plot" ui-options="
              {{plot_pie}},
              {
                series: { pie: { show: true, innerRadius: 0.4, stroke: { width: 3 }, label: { show: true, threshold: 0.05 } } },
                colors: ['{{app.color.info}}','{{app.color.warning}}','{{app.color.success}}','{{app.color.accent}}'],
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },   
                tooltip: true,
                tooltipOpts: { content: '%s: %p.0%' }
              }
            " style="height:168px"></div>
        </div>
        <div class="m-t-xs">
          <div class="font-bold">45</div>
          <small class="text-muted">This month</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-xs" ng-controller="ChartCtrl">
    <div class="col-sm-4">
      <div class="panel panel-card">
        <div class="p">
          <label class="md-switch pull-right" ng-init="showData=false">
            <input type="checkbox" ng-model="showData">
            <i class="{{app.setting.theme.accent}}"></i>
          </label>
          <span>Monitor</span> <i class="fa fa-caret-up text-success"></i><span class="text-xs text-muted m-l-xs">1.5%</span>
        </div>
        <div class="panel-body">
          <div ui-jp="plot" ui-refresh="showData" ui-options="
            [
              {
                data: {{plot_line}}, 
                points: { show: true, radius: 4, lineWidth: 3, fillColor: '{{app.color.accent}}'}, 
                lines:  { show: {{showData}}, lineWidth: 0, fill: 0.5, fillColor: '{{app.color.accent}}' }, 
                color:'#fff'
              }
            ],
            {
              series: { shadowSize: 0 },
              xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom' },
              yaxis:{ show: true, font: { color: '#ccc' }},
              grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
              tooltip: true,
              tooltipOpts: { content: '%x.0 is %y.4',  defaultTheme: false, shifts: { x: 0, y: -40 } }
            }
          " style="height:198px">
          </div>
        </div>
      </div>
    </div>
  </div>

